
<nav class="navbar is-toggle is-inverted has-background-white">

    <div class="navbar-brand">
        <a class="navbar-item has-text-info has-text-weight-bold is-size-5" href="/"> WeatherTop </a>
    </div>
    <div class="navbar-start">
    <span class="navbar-item has-text-grey-dark has-text-weight-semibold">
      WeatherTop Services inc.
    </span>
    </div>
    <div class="navbar-end">
        <a id="dashboard" class="navbar-item has-text-grey-dark has-text-weight-semibold" href="/dashboard">Dashboard</a>

        <a id="logout" class="navbar-item has-text-grey-dark has-text-weight-semibold" href="/logout">Logout </a>
    </div>

</nav>


<!--<script>-->
<!--    $("#${_id}").addClass("has-background-grey-lighter has-text-black");-->
<!--</script>-->