#{extends 'main.html' /}
#{set title:'About' /}

#{welcomemenu id:"about"/}

<div class="content box mt-5">
    <div class="columns mt-5">
        <div class="column is-half">
            <p class="title">
                About WeatherTop App
            </p>
            <p>
                WeatherTop App - Version 2. Web App produced for modular weather station WeatherTop 1000.
            </p>
            <p>
                The WeatherTop App is a powerful tool that enables you to submit weather reports from your
                station effortlessly. With this app, you can capture detailed readings from your station
                at a specific time, providing accurate and up-to-date information about the weather conditions.
                Stay informed and share valuable data with ease using the WeatherTop App.
            </p>

            <p class="title">
                About WeatherTop 1000
            </p>
            <p>
                Introducing WeatherTop 1000, the ultimate modular weather station designed to deliver
                comprehensive weather data. With its modular design, WeatherTop 1000 offers versatility
                and expandability, allowing you to customize the station based on your specific needs.
                Experience precise measurements of temperature, wind speed, pressure, and more,
                ensuring you have accurate weather information at your fingertips. Stay ahead of
                the weather with WeatherTop 1000, the go-to choice for professional meteorologists
                and weather enthusiasts alike.
            </p>
        </div>
        <div class="column is-half">
            <figure class="image is-3by4">
                <img src="/public/images/weather-instrument.jpg">
            </figure>
        </div>
    </div>
</div>