#{extends 'main.html' /}
#{set title:'Dashboard' /}

#{menu id:"dashboard"/}

#{list items:stations, as:'station'}
<div class="content box mt-5">
  <h1 class="title">
    ${station.name}
  </h1>
    <a href="/stations/${station.id}" class="button has-background-grey-light is-medium">
      <i class="fa-solid fa-folder-open " title="Open Station View" style="color: #656566;"></i>
    </a>
  <a href="/dashboard/deleteStation/${station.id}" class="button has-text-danger is-medium">
    <i class="fas fa-trash" title="Open Station View"></i>
  </a>
</div>
#{/list}
#{addstation /}
