#{extends 'main.html' /}
#{set title:'Welcome' /}

#{welcomemenu id:"start"/}

<div class="content box mt-5">
    <p class="title">
        Welcome to WeatherTop
    </p>
    <p>
        This app allows you to submit weather reports from your station, capturing readings from the station at a specific time.
    </p>

    <div class="columns is-centered">
        <div class="column is-8">

        </div>
        <div class="column">

        </div>
    </div>

    <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child notification is-primary">
                        <p class="title">What is WeatherTop?</p>
                        <p class="subtitle">A visual tool for working with weather data and timely tracking of dangerous phenomena</p>
                    </article>
                    <article class="tile is-child notification is-warning">
                        <p class="title">How does WeatherTop work?</p>
                        <p class="subtitle">WeatherTop allows you to submit weather reports from your station, capturing readings from the station at a specific time</p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child notification is-info">
<!--                        <p class="title">Middle tile</p>-->
<!--                        <p class="subtitle">With an image</p>-->
                        <figure class="image">
                            <img src="public/images/weathertop-watch-tower.jpg">
                        </figure>
                    </article>
                </div>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification is-danger">
                    <p class="title">Weather parameters</p>
                    <p class="subtitle">Track the main weather parameters: Temperature, Wind speed, precipitations</p>
                    <div class="content">
                    </div>
                </article>
            </div>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child notification is-success">
                <div class="content">
                    <p class="title">How to start</p>
                    <p class="subtitle">It is easy to start working with the Dashboard. There are 5 steps:</p>
                    <div class="content">
                        <ol>
                            <li>Sign up to our service. Alternatively, please log in
                                with existing WeatherTop username and password.</li>
                            <li>Go to the Dashboard and add the name of the Station, its latitude and longitude.</li>
                            <li>Click on the "Folder" icon to open the Station Dashboard.
                                Set up the conditions of your first reading by entering
                                Weather Code, Temperature, Wind speed and Pressure</li>
                            <li>Click on Submit Report to send the readings</li>
                            <li>You can add new readings or delete existing ones.</li>

                        </ol>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
