#{extends 'main.html' /}
#{set title:'Station' /}

#{menu id:"dashboard"/}

<div class="content box mt-5">
  <h1 class="title">
    ${station.name}
  </h1>
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child box  has-background-dark">
        <p class="title is-4 has-text-white mr-3">${station.name}
          <i class="fa-sharp fa-solid fa-location-pin fa-2xl px-1"  style="color: #6436c9;"></i></p>
        <p class="content has-text-white">Lat: ${station.getLatitude()} <br>Lng: ${station.getLongitude()} </p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box  has-background-dark">
        <p class="title is-4 has-text-white">Weather</p>
        #{if station.readings.size() > 0}
        <p class="content has-text-white">${station.lastWeatherCondition()}</p>
        #{/if}
        #{else}
        <p class="content has-text-danger">Add Weather Code Reading below</p>
        #{/else}
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box  has-background-dark">
        <p class="title is-4 has-text-white">Temperature
          <i class="fa-solid fa-temperature-low fa-2xl px-0.5" style="color: #2183cd;"></i></p>
        #{if station.readings.size() > 0}
        <p class="content has-text-white"> ${station.lastTempF()} F<br>${station.lastTempC()} C<br>
        Min: ${minTempReading.temperature} C <br> Max: ${maxTempReading.temperature} C
          #{/if}
          #{else}
         <p class="content has-text-danger">Add Temperature Reading below</p>
          #{/else}
        </p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box  has-background-dark">
        <p class="title is-4 has-text-white">Wind
          <i class="fa-solid fa-wind fa-2xl px-5" style="color: #2eaf4c;"></i></p>
        #{if station.readings.size() > 0}
        <p class="content has-text-white">${station.lastWindSpeedBeaufort()} bft<br>${station.lastWindDirection()}
        <br>Feels like ${station.lastWindChill()} <br> Min: ${minWindSReading.windSpeed} Km/h <br>
          Max: ${maxWindSReading.windSpeed} Km/h </p>
        #{/if}
        #{else}
        <p class="content has-text-danger">Add Wind Speed Reading below</p>
        #{/else}
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box  has-background-dark">
        <p class="title is-4 has-text-white">Pressure
          <i class="fa-solid fa-gauge fa-2xl px-4" style="color: #df6a1c;"></i></p>
        #{if station.readings.size() > 0}
        <p class="content has-text-white">${station.lastPressure()} hpa<br>
        Min: ${minPressReading.pressure} hpa<br>Max: ${maxPressReading.pressure} hpa</p>
        #{/if}
        #{else}
        <p class="content has-text-danger"> Add Pressure Reading below</p>
        #{/else}
        <span class="icon is-large">
      </article>
    </div>
  </div>
  #{listreadings station:station /}
  #{addreading station:station /}
</div>
